<header style="background-color: white">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="home">
      <img src="../../assets/images/Imagotipo V. Horizontal Red_.svg" class="img-fluid" alt="Imagotipo V.Horizontal">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="pinturas">Pinturas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="figuras">Figuras</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="accesorios">Accesorios</a>
        </li>
        <li class="nav-item active">
          <p class="separator">|</p>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="artistas">Artistas</a>
        </li>
      </ul>
      <div class="right-items">
        <div class="user" data-bs-toggle="modal" data-bs-target="#modalLogin" *ngIf="!user" (click)="limpiarChecks()">
          <img class="avatar" src="../../assets/images/avatar.svg">
          <p>Iniciar Sesión</p>
        </div>
        <div class="dropdown" *ngIf="user">
          <div class="user" data-bs-toggle="dropdown">
            <img class="avatar" src="{{user.avatar!.url}}" alt="{{user.avatar!.name}}">
            <p>{{user.username}}</p>
          </div>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="/user">Editar perfil</a>
            <a class="dropdown-item" href="/user-artista">Perfil de artista</a>
            <a class="dropdown-item" href="/user-pedidos">Mis pedidos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
          </div>
        </div>
        <i class="bi bi-bag" data-bs-toggle="modal" data-bs-target="#modalCarrito"><p class="cantidadCarrito"*ngIf="carrito!=null">{{carrito.length}}</p></i>
      </div>
    </div>
  </nav>
</header>

<div class="modal fade" id="modalLogin">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h1 class="modal-title">Iniciar sesión</h1>
        <div class="inputs">
          <div class="input">
            <p>Usuario: </p>
            <div>
              <input type="text" class="form-control" id="usernameLogin" [(ngModel)]="username">
              <p class="invalid" *ngIf="invalidUser">{{messageUser}}</p>
            </div>

          </div>


          <div class="input">
            <p>Contraseña: </p>
            <div>
              <input type="password" class="form-control" id="passwordLogin" [(ngModel)]="password">
              <p class="invalid" *ngIf="invalidPassword">{{messagePassword}}</p>
            </div>
          </div>
          <div class="input" *ngIf="invalidLogin">
            <p class="invalid">{{messageLogin}}</p>
          </div>
          <div id="buttons">
            <p class="signup">
              ¿No tienes cuenta?
              <button type="button" class="login" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalRegister" (click)="limpiarChecks()">
                Registrarse
              </button>
            </p>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" id="buttons">

        <div>
          <button type="button" class="cancelar" data-bs-dismiss="modal">
            <p>Cancelar</p>
          </button>
          <button type="button" class="login" (click)="login()">
            <p>Entrar</p>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="modalRegister">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <h1 class="modal-title">Registrarse</h1>

          <div class="inputs">
            <div class="input">
              <p>Usuario: </p>
              <div>
                <input type="text" class="form-control" id="username" [(ngModel)]="username">
                <p class="invalid" *ngIf="invalidUser">{{messageUser}}</p>
              </div>
            </div>
            <div class="input">
              <p>Email: </p>
              <div>
                <input type="email" class="form-control" id="email" [(ngModel)]="email">
                <p class="invalid" *ngIf="invalidEmail">{{messageEmail}}</p>
              </div>
            </div>
            <div class="input">
              <p>Contraseña: </p>
              <div>
                <input type="password" class="form-control" id="password" [(ngModel)]="password">
                <p class="invalid" *ngIf="invalidPassword">{{messagePassword}}</p>
              </div>
            </div>
            <div class="input">
              <p>Confirmar contraseña: </p>
              <div>
                <input type="password" class="form-control" id="passwordConf" [(ngModel)]="passwordConf">
                <p class="invalid" *ngIf="invalidPasswordConf">{{messagePasswordConf}}</p>
              </div>
            </div>
            <div class="input" *ngIf="invalidLogin">
              <p class="invalid">{{messageLogin}}</p>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer" id="buttons">

          <div>
            <button type="button" class="cancelar" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalLogin" (click)="limpiarChecks()">
              <p>Cancelar</p>
            </button>
            <button type="button" class="login" (click)="signup()">
              <p>Registrarme</p>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalCarrito">
  <div class="modal-dialog modal-top-right">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h2 class="modal-title">Bolsita</h2>
        <div class="productos" *ngIf="carrito!=null">
          <div class="producto" *ngFor="let producto of carrito">
            <img src="{{producto.image.url}}" class="card-img-top" alt="{{producto.image.name}}">
            <div class="info-producto">
              <p class="text"><b>{{producto.name}}</b></p>
              <p class="text">{{producto.price_int}}<span class="dec">, {{producto.price_dec}} €</span></p>
              <div class="acciones-producto">
                <p class="accion" (click)="restarProducto(producto)">-</p> 
                <p><b>{{producto.cantidad}}</b></p> 
                <p class="accion" (click)="sumarProducto(producto)">+</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bolsa-vacia" *ngIf="carrito==null">
            <p class="info"><b>Bolsita vacía :(</b></p>
            <p class="tip">Añade productos a la bolsa para hacer un pedido :)</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" id="buttons" *ngIf="carrito!=null">
        <div class="footer-content">
          <div class="total">
            <p><b>Total </b> </p> <p><b>{{total}} €</b></p>
          </div>
          <div class="boton">
            <button type="button" class="login" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalLogin" *ngIf="user==null">
              <p>Procesar pedido</p>
            </button>
            <button type="button" class="login" data-bs-dismiss="modal" (click)="procesarPedido()" *ngIf="user!=null">
              <p>Procesar pedido</p>
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>