<header style="background-color: white">
  <nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand" routerLink="home">
      <img src="../../assets/images/Imagotipo-V.-Horizontal-Red.svg" class="img-fluid" alt="Imagotipo V.Horizontal">
    </a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="pinturas">Pinturas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="figuras">Figuras</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="accesorios">Accesorios</a>
        </li>
        <li class="nav-item active">
          <p class="separator">|</p>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="artistas">Artistas</a>
        </li>
      </ul>
      <div class="right-items">
        <div class="user" data-bs-toggle="modal" data-bs-target="#modalLogin">
          <img class="avatar" src="../../assets/images/avatar.svg">
          <p>Iniciar Sesión</p>
        </div>
        <!-- <div class="user" data-bs-toggle="modal" data-bs-target="#modalLogin">
          <img class="avatar" src="../../assets/images/avatar.svg">
          <p>Hola <b>Vigita</b></p>
        </div> -->
        <i class="bi bi-bag"></i>
      </div>
    </div>
  </nav>  
</header>

<div class="modal fade" id="modalLogin">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal body -->
        <div class="modal-body">
          <h1 class="modal-title">Iniciar sesión</h1>
          <div class="inputs">
            <div class="input">
              <p>Usuario: </p>
              <div>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" (ngModelChange)="usernameChange()">
                  <p class="invalid" *ngIf="invalidUser">{{messageUser}}</p>
              </div>
              
            </div>
            
            
            <div class="input">
              <p>Contraseña: </p>
              <div>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" (ngModelChange)="passwordChange()">
                  <p class="invalid" *ngIf="invalidPassword">{{messagePassword}}</p>
              </div>
            </div>
            <div id="buttons" class="input signup">
              <p>¿No tienes cuenta?</p>
              <button type="button" class="login" data-bs-dismiss="modal" (click)="signup()"><p>Registrarse</p></button>
            </div>
          </div> 
        </div>

      <!-- Modal footer -->
      <div class="modal-footer" id="buttons">
        <div>
          <button type="button" class="cancelar" data-bs-dismiss="modal"><p>Cancelar</p></button>
          <button type="button" class="login" data-bs-dismiss="modal" (click)="login()"><p>Entrar</p></button>
        </div>
      </div>

    </div>
  </div>
</div>

