<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(242,242,242)">
    <a class="navbar-brand" routerLink="home">
      <img src="../../assets/images/Imagotipo-V.-Horizontal-Red.png" class="img-fluid" alt="Imagotipo V.Horizontal">
    </a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="pinturas">Pinturas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="figuras">Figuras</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="accesorios">Accesorios</a>
        </li>
        <li class="nav-item active">
          <p class="separator">|</p>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="artistas">Artistas</a>
        </li>
      </ul>
    </div>

    <i class="bi bi-box-arrow-in-right" style="font-size: 2rem; color: rgb(26, 26, 26);"></i>
  </nav>  
</header>