::-webkit-scrollbar {
    display: none;
}

.img-fluid{
    width: 10rem;
    height: 4rem;
}

header{
    padding: 0.5rem 1rem; 
    box-shadow: 0px 1px 5px rgba(26, 26, 26, 0.2);
    margin-bottom: 2rem;
}

.separator{
    font-size: 1.5rem;
    vertical-align: center;
    color: rgba(26, 26, 26, 0.5);
    user-select: none;
    padding: 0rem 0.3rem;
    margin: 0;
}

.collapse{
    justify-content: space-between;
    
    .right-items{
        display: flex;
        align-items: center;
       
        .user{
            display: flex;
            align-items: center;
            padding: 0.3rem;
            border-radius: 0.2rem;
            margin-right:0.5rem;
            .avatar{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                object-fit: cover;
            }
            p{
                margin: 0 0 0 0.5rem;
            }
        }
        .user:hover{
            transition: 0.3s;
            background-color: rgb(242,242,242);
            box-shadow: 0px 1px 5px rgba(26, 26, 26, 0.1);
            cursor: pointer;
        }
        
        .bi{
            color: rgba(26, 26, 26, 0.7);
            font-size: 1.5rem;
            padding: 0.1rem 0.4rem 0.3rem 0.4rem;
            margin-bottom: 0.15rem;
            border-radius: 0.2rem;

            .cantidadCarrito{
                position: absolute;
                bottom: 30%;
                left: 99.1%;
                background-color: rgba(26, 26, 26);
                border-radius: 5px;
                margin: 0;
                padding: 1px 4px;
                color: rgb(242, 242, 242);
                font-style: normal;
                text-align: center;
                font-size: 10px
            }
        }
        .bi:hover{
            transition: 0.3s;
            background-color: rgb(242,242,242);
            box-shadow: 0px 1px 5px rgba(26, 26, 26, 0.1);
            cursor: pointer;
        }

        .dropdown{
            .dropdown-menu{
                a{
                    cursor: pointer;
                    user-select: none;
                }
            }
        }

    }
     
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 2rem;
}

.modal{
    .modal-top-right{
        position: absolute;
        right: 1.5rem;
    }
    .modal-content{
        background-color: rgb(242, 242, 242);
        border: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

        .productos{
            display: flex;
            flex-direction: column;
            border-radius: 0.2rem;
            max-height: 35rem;
            overflow: auto;

            .producto{
                display: flex;
                align-content: space-between;
                width: 14rem;

                margin:0.5rem 0;
                
                img{
                    width: 4rem;
                    height: 5rem;
                    border-radius: 5px;
                    object-fit: cover;
                    margin-right: 1rem;
                    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
                }
                .info-producto{
                    width: 11rem;
                    .text{
                        width: 9rem;
                        margin-bottom: 0.1rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .acciones-producto{
                        display: flex;
                        justify-content: flex-end;
                        p{
                            margin: 0.2rem;
                            padding: 0.2rem 0.4rem;
                            border-radius: 0.2rem;
                            user-select: none;
                        }
                        .accion:hover{
                            transition: 0.3s;
                            background-color: white;
                            box-shadow: 0px 0px 5px rgba(26, 26, 26, 0.1);
                            cursor: pointer;                    
                        }
                    }
                }
                
            }
            
        }

        .bolsa-vacia{
            width: 14rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin: 0.2rem;
                text-align: justify;
            }
            .info{
                margin-top: 1rem;
            }
            .tip{
                font-size: small;
            }
        }

        .inputs{
            margin-top: 1rem;
            margin-left: 2.5rem;
            width: 80%;                
            .input{
                display: flex;
                align-items: baseline;
                justify-content: center;
                p{
                    text-align: right;
                    min-width: 6rem;
                    
                }
                .invalid{
                    margin: 0.5rem;
                    color: red;
                    font-weight: bold;
                }
                select,div{
                    margin: 0.5rem;
                    width: 15rem;
                    .invalid{
                        color: red;
                        font-size: small;
                        margin: 0;
                    }
                }
                
                
            }
            
            .signup{
                margin-top: 1rem;
                p{
                    min-width: auto;
                }                
            }
        }
       
        #buttons{
            .footer-content{
                display: flex;
                flex-direction: column;
                width: 14rem;
                .total{
                    display: flex;
                    justify-content: space-between;
                }
                .boton{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            
            button{
                border: none;
                border-radius: 4px;
                p{
                    margin: 0;
                }
                margin: 0 0.2rem;
            }
            .login{
                background-color: rgba(26, 26, 26);
                color: rgb(242, 242, 242);  
            }
            .cancelar{
                color: rgba(26, 26, 26);  
            }
        }
        
    }
     
}