.table{
    background-color: white;
    color: rgb(26,26,26);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    justify-content: center;
    .input{
        width: 12rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .pedido{
        .resumen{
            width: 15rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
        }
        button{
            font-size: small;
            background-color: rgba(0, 0, 0, 0);
            color: rgba(26, 26, 26);  
            border: 1px solid rgba(26, 26, 26);
            border-radius: 4px;
            p{
                margin: 0;
            }
            margin: 0 0.2rem;
            user-select: none;
        }
        .cancelar:hover{
            transition: 0.3s;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            cursor: pointer;
            background-color: rgba(26, 26, 26);
            color: rgb(242, 242, 242);  
        }
    }
    .pedido:hover{
        transition: 0.3s;
        background-color: rgb(242,242,242);
        cursor: pointer;
        user-select: none;
    }
    td{
        text-align: center;
    }
    th{
        padding-left: 1rem;
    }
    
}

#modalDetails{
    .modal-content{
        border: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        h2{
            margin-bottom: 1rem;
        }
        .step{
            margin: 0 2rem 2rem 2rem;
            
            .titleStep{
                font-size: 1.1rem;
            }
            .editStep{
                font-size: 0.8rem;
            }
            .editStep:hover{
                cursor: pointer;
                user-select: none;
                text-shadow: 0 0 2px rgba(0,0,0,0.3);
        
            }
        
            .producto{
                display: flex;
                justify-content: space-between;
                margin-left: 1rem;
        
                p{
                    margin: 0;
                    text-align: left;
                }
        
                .title{
                    width: 60%;
                }
        
                .price{
                    width: 20%;
                    text-align: right;
                }
        
                .cant{
                    width: 20%;
                    text-align: right;
                }
        
            }
            .total{
                margin-bottom: 0;
                text-align: right;
            }
        
            .envio{   
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 1rem;
        
                p{
                    margin: 0;
                    text-align: center;
                }
            }
        
            .pago{   
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 1rem;
        
                p{
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}