<div class="contenedor">
    <div class="encabezado">
      <h1>Artistas</h1>
    </div>
    
    <div class="artistas">
      <div class="card" *ngFor="let artista of artistas" data-bs-toggle="modal" data-bs-target="#modalDetails" (click)="selectArtista(artista)">
        <img src="{{artista.avatar!.url}}" class="card-img-top" alt="{{artista.avatar!.name}}">
        <div class="card-body" >
          <p class="card-text"><b>{{artista.username}}</b></p>
        </div>
      </div>        
    </div>   
  </div>
  
  <div class="modal fade" id="modalDetails">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="contentModal">
            <img src="{{selectedArtista.avatar!.url}}" class="card-img-top" alt="{{selectedArtista.avatar!.name}}">
            <div class="rightContent">
              <div>
                <p class="modal-text"><b>{{selectedArtista.username}}</b></p>
                <p class="description">{{selectedArtista.biography}}</p>
              </div>
              <div class="bottomContent">
                <button type="button" class="anadirCarrito" data-bs-dismiss="modal" (click)="goToProductosArtista();"><p>Ver sus productos</p></button>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
