<div class="contenedor">
    <div class="steps">
        <!-- STEP 1 -->
        <div class="card">
            <div class="title">
                <h2>Carro de compra</h2>
                <p class="numeroStep">1</p>
            </div>
            <div class="productos" *ngIf="step==1">
                <div class="producto" *ngFor="let producto of carrito">
                    <div class="contentProd">
                        <img src="{{producto.image.url}}" class="card-img-top" alt="{{producto.image.name}}">
                        <div class="info-producto">
                            <div>
                                <p class="title"><b>{{producto.name}}</b></p>
                                <p class="text">{{producto.price_int}}<span class="dec">. {{producto.price_dec}} €</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="acciones-producto">
                        <p class="accion" (click)="restarProducto(producto)">-</p> 
                        <p><b>{{producto.cantidad}}</b></p> 
                        <p class="accion" (click)="sumarProducto(producto)">+</p>
                    </div> 
                </div>

            </div>
            <div class="total" *ngIf="step==1">
                <p><b>TOTAL </b> </p> <p><b>{{total}} €</b></p>
            </div>
        </div>
        <i class="bi bi-caret-down-square-fill flechaStep" (click)="passStep()" *ngIf="step==1"></i>

        <!-- STEP 2 -->
        <div class="card">
            <div class="title">
                <h2>Dirección de envío</h2>
                <p class="numeroStep">2</p>
            </div>
            <div class="formEnvio" *ngIf="step==2">
                <div class="inputs">
                    <div class="input calle">
                        <p>Calle: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.calle" placeholder="Calle">
                    </div>
                    <div class="input piso">
                        <p>Piso, puerta: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.piso" placeholder="Piso, puerta">
                    </div>
                </div>
                <div class="inputs">
                    <div class="input">
                        <p>País: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.pais" placeholder="País">
                    </div>
                    <div class="input">
                        <p>Código postal: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.cp" placeholder="Código postal" (keypress)="onlyNumberKey($event)">
                    </div>
                </div>
                <div class="inputs">
                    <div class="input">
                        <p>Población: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.poblacion" placeholder="Población">
                    </div>
                    <div class="input">
                        <p>Provincia: </p>
                        <input type="text" class="form-control" [(ngModel)]="direccion.provincia" placeholder="Provincia">
                    </div>
                </div>
                <p class="invalid" *ngIf="message!=''">{{message}}</p>
            </div>
        </div>
        <i class="bi bi-caret-down-square-fill flechaStep" (click)="passStep()" *ngIf="step==2"></i>

        <!-- STEP 3 -->
        <div class="card">
            <div class="title">
                <h2>Método de pago</h2>
                <p class="numeroStep">3</p>
            </div>
            <div *ngIf="step==3">
                <form class="metodoPago">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pago" id="efectivo" value="efectivo" [(ngModel)]="pago" checked>
                        <label class="form-check-label" for="efectivo"><p>Efectivo</p></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pago" id="tarjeta" value="tarjeta" [(ngModel)]="pago">
                        <label class="form-check-label" for="tarjeta"><p>Tarjeta</p></label>
                    </div>
                </form>
                <div class="formPago" *ngIf="pago=='tarjeta'">
                    <div class="inputs">
                        <div class="input">
                            <p>Nº Tarjeta: </p>
                            <input type="text" class="form-control numero" [(ngModel)]="tarjeta.numero" maxlength="12" placeholder="XXXX - XXXX - XXXX - XXXX" (keypress)="onlyNumberKey($event)">
                        </div>
                        <div class="input">
                            <p>Fecha Caducidad: </p>
                            <input type="month" class="form-control fecha" [(ngModel)]="tarjeta.fecha" placeholder="MM/YY">
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="input">
                            <p>Código CVV: </p>
                            <input type="text" class="form-control cvv" [(ngModel)]="tarjeta.cvv" maxlength="3" placeholder="---" (keypress)="onlyNumberKey($event)">
                        </div>
                    </div>
                    <p class="invalid" *ngIf="message!=''">{{message}}</p>
                </div>
            </div>
        </div>
        <i class="bi bi-caret-down-square-fill flechaStep" (click)="passStep()" *ngIf="step==3"></i>

        <!-- STEP 4 -->
        <div class="card">
            <div class="title">
                <h2>Resumen del pedido</h2>
                <p class="numeroStep">4</p>
            </div>
            <div *ngIf="step==4">
                <div class="step">
                    <p class="titleStep"><b>Productos</b> &nbsp;<span class="bi bi-pencil-square editStep" (click)="returnStep(1)">&nbsp;Editar</span></p>
                    <div class="producto">
                        <p class="title"><b>Nombre</b></p>
                        <p class="price"><b>Precio</b></p>
                        <p class="cant"><b>Cantidad</b></p>
                    </div>
                    <div class="producto" *ngFor="let producto of carrito">
                        <p class="title">{{producto.name}}</p>
                        <p class="price">{{producto.price_int}}<span class="dec">. {{producto.price_dec}} €</span></p>
                        <p class="cant">{{producto.cantidad}} <span *ngIf="producto.cantidad==1">ud.</span> <span *ngIf="producto.cantidad!=1">uds.</span></p>
                    </div>
                    <p class="total"><b>Total: &nbsp;</b> <span> {{total}} €</span></p>
                </div>
                <div class="step">
                    <p class="titleStep"><b>Dirección de envío</b> &nbsp;<span class="bi bi-pencil-square editStep" (click)="returnStep(2)">&nbsp;Editar</span></p>
                    <div class="envio">
                        <p><b>Dirección: </b>{{direccion.calle}}, {{direccion.piso}}</p>
                        <p><b>Localidad: </b>{{direccion.poblacion}} - {{direccion.cp}}, {{direccion.provincia}}, {{direccion.pais}}  </p>
                    </div>
                </div>
                <div class="step">
                    <p class="titleStep"><b>Método de pago</b> &nbsp;<span class="bi bi-pencil-square editStep" (click)="returnStep(3)">&nbsp;Editar</span></p>
                    <div class="pago" *ngIf="pago=='efectivo'">
                        <p>Pago en efectivo</p>
                    </div>
                    <div class="pago" *ngIf="pago=='tarjeta'">
                        <p>Pago con tarjeta</p>
                        <p><b>Numero de tarjeta: </b>{{tarjeta.numero}}</p>
                        <p><b>Fecha de caducidad: </b>{{tarjeta.fecha}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tramitarPedido" *ngIf="step==4" (click)="tramitarPedido()">
            <button type="button">
                <p>Tramitar pedido</p>
            </button>
        </div>
        
    </div>
</div>