<p>user-perfil works!</p>
<div class="contenidoRegister">
  <!-- <div class="avatar">
    <i class="bi bi-plus-square-fill"></i>
  </div>

  <div class="inputs">
    <div class="input">
      <p>Usuario: </p>
      <div>
        <input type="text" class="form-control" id="username" [(ngModel)]="username"
          (ngModelChange)="usernameChange()">
        <p class="invalid" *ngIf="invalidUser">{{messageUser}}</p>
      </div>
    </div>

    <div class="input">
      <p>Contraseña: </p>
      <div>
        <input type="password" class="form-control" id="password" [(ngModel)]="password"
          (ngModelChange)="passwordChange()">
        <p class="invalid" *ngIf="invalidPassword">{{messagePassword}}</p>
      </div>
    </div>
    <div class="input" *ngIf="invalidLogin">
      <p class="invalid">{{messageLogin}}</p>
    </div>
  </div> -->
</div>