<div class="contenedor">
  <div class="encabezado">
    <h1>Accesorios</h1><p class="separator">|</p><p>Filtrar...</p>
  </div>
    <div class="accesoritos">
        <div class="card" *ngFor="let accesorio of accesorios">
            <img src="http://localhost:1337{{accesorio.image.url}}" class="card-img-top" alt="{{accesorio.image.name}}">
            <div class="card-body">
              <p class="card-text"><b>{{accesorio.name}}</b></p>
              <h2 class="card-text">{{accesorio.price_int}}<span class="dec">, {{accesorio.price_dec}} €</span> </h2>
            </div>
          </div>
    </div>   
</div>
