<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col"><p><b>Usuario</b></p></th>
            <th scope="col"><p><b>Email</b></p></th>
            <th scope="col"><p><b>Biografía</b></p></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitud of solicitudes" class="solicitud" data-bs-toggle="modal" data-bs-target="#modalDetails" (click)="selectSolicitud(solicitud)">
            <th scope="row" class="user"><img class="avatar" src="{{solicitud.user.avatar!.url}}" alt="{{solicitud.user.avatar!.name}}"><span><p>{{solicitud.user.username}}</p></span></th>
            <th><p>{{solicitud.user.email}}</p></th>
            <th>
                <p *ngIf="selectedSolicitud?.user?.biography==null">(El usuario no tiene biografía)</p>
                <p class="bio" *ngIf="selectedSolicitud?.user?.biography!=null">{{selectedSolicitud?.user?.biography}}</p>
            </th>
        </tr>
        <tr *ngIf="solicitudes.length==0">
            <td colspan="3"><p>(No hay más solicitudes)</p></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="modalDetails">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="contentModal">
                    <img src="{{selectedSolicitud?.user?.avatar?.url}}" class="card-img-top" alt="{{selectedSolicitud?.user?.avatar?.name}}">
                    <div class="rightContent">
                        <div>
                            <p class="modal-text"><b>{{selectedSolicitud?.user?.username}}</b></p>
                            <p class="description" *ngIf="selectedSolicitud?.user?.biography==null">(El usuario no tiene biografía)</p>
                            <p class="description" *ngIf="selectedSolicitud?.user?.biography!=null">{{selectedSolicitud?.user?.biography}}</p>
                        </div>
                        <div class="bottomContent">
                            <button type="button" class="cancelar" data-bs-toggle="modal" data-bs-target="#modalDetails" (click)="rechazarSolicitud(selectedSolicitud)"><p>Rechazar</p></button>
                            <button type="button" class="aprobar" data-bs-toggle="modal" data-bs-target="#modalDetails" (click)="aprobarSolicitud(selectedSolicitud)" ><p>Aprobar</p></button>
                        </div>       
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>