.encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;

    h1,p{
        margin: 0;
    }

    p{
        color: rgba(26, 26, 26, 0.7);
        user-select: none;
        cursor: pointer;
    }

    p:hover{
        transition: 0.3s;
        color:rgba(26, 26, 26, 0.8)
    }

    .separator{
        font-size: 1.5rem;
        vertical-align: center;
        color: rgba(26, 26, 26, 0.5);
        user-select: none;
        padding: 0rem 0.3rem;
        margin: 0;
    }
}

.pinturas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .card{
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        margin-right: 1rem;
        margin-bottom: 1rem; 
        cursor: pointer;
        
        .card-img-top{
            width: 15rem;
            height: 15rem;
            object-fit: cover;
        }

        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: wrap;

            .card-text{
                width: 13rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .dec{
                    font-size: 1.2rem;
                }
            }
            
        }
    } 
    
    .card:hover{
        transition: 0.4s;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 2rem;
}

.modal{
    .modal-content{
        background-color: rgb(242, 242, 242);
        border: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

        .inputs{
            margin-top: 1rem;
            margin-left: 2rem;
            width: 80%;                
            .input{
                display: flex;
                align-items: baseline;

                p{
                    text-align: right;
                    min-width: 6rem;
                }
                input,select{
                    margin: 0.5rem;
                    width: 20rem;
                }
                select{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                }
            }
        }
       
        #buttons{
            justify-content: space-between;
            button{
                border: none;
                border-radius: 4px;
                p{
                    margin: 0;
                }
                margin: 0 0.2rem;
            }
            .filtrar{
                background-color: rgba(26, 26, 26);
                color: rgb(242, 242, 242);  
            }
            .cerrar{
                color: rgba(26, 26, 26);  
            }
            .limpiar{
                color: rgba(26, 26, 26); 
            }
        }
        
    }
      
}

#modal-dialog{
    max-width: 60rem;
}

.contentModal{
    display: flex;
    align-items: center;
    img{
        width: 30rem;
        height: 35rem;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 2rem;
    }
    .rightContent{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        margin-top: 1rem;

        .description{
            width: 26rem;
            height: 26rem;
            overflow: auto;
        }

        .bottomContent{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            button{
                border: none;
                border-radius: 4px;
                p{
                    margin: 0;
                }
                margin: 0 0.2rem;
            }
            .anadirCarrito{
                background-color: rgba(26, 26, 26);
                color: rgb(242, 242, 242);  
            }
            .dec{
                font-size: 1.2rem;
            }
        } 
    }
}