.encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;
    h1,p{
        margin: 0;
    }
    p{
        color: rgba(26, 26, 26, 0.7);
    }
    .separator{
        font-size: 1.5rem;
        vertical-align: center;
        color: rgba(26, 26, 26, 0.5);
        user-select: none;
        padding: 0rem 0.3rem;
        margin: 0;
    }
}

.pinturitas{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    margin-bottom: 1rem; 
}

.card-img-top{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.card-text{
    width: 13rem;
    overflow-wrap: anywhere;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 2rem;
}

.dec{
    font-size: 1.2rem;
}