/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    background-color: rgb(242,242,242);
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a,p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contenedor{
    padding: 0 15rem;
    min-height: calc(100vh - 144px - 96.5px - 32px);
}