/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    background-color: rgb(242,242,242);
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a,p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contenedor{
    padding: 0 15rem;
    min-height: calc(100vh - 112px - 106px - 32px);
}

::-webkit-scrollbar {
    display: none;
    width: 6px;     // Tamaño del scroll en vertical
    height: 6px;    // Tamaño del scroll en horizontal
}

::-webkit-scrollbar-thumb {
    background: rgb(26,26,26);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

@media (max-width: 750px) {
    .contenedor{
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 112px - 118px - 32px);
    }
}