<div class="contenedor" *ngIf="user.role.name=='Artista' || user.role.name=='Administrator'">
    <div class="encabezado">
      <h1>Artículos</h1>
      <p class="separator">|</p>
      <img class="avatar" src="{{user.avatar!.url}}" alt="{{user.avatar!.name}}">
      <p>{{user.username}}</p>
    </div>
  
    <div class="productos">
      <div class="card" *ngFor="let producto of productos" data-bs-toggle="modal" data-bs-target="#modalDetails" (click)="selectProducto(producto);">
        <img src="{{producto.image.url}}" class="card-img-top" alt="{{producto.image.name}}">
        <div class="card-body">
          <p class="card-text"><b>{{producto.name}}</b></p>
          <h2 class="card-text">{{producto.price_int}}<span class="dec">, {{producto.price_dec}} €</span> </h2>
        </div>
      </div>
      <div class="card" data-bs-toggle="modal" data-bs-target="#modalCreate" (click)="limpiarInputs();editingName=true;editingBio=true;editingPrice=true">
        <div class="card-body">
            <i class="bi bi-plus-square-fill"></i>
        </div>
      </div>
    </div>

</div>

<div class="contenedor notArtist" *ngIf="user.role.id!=3 && user.role.id!=4">
  <p><b>Todavía no dispones de los permisos para ser Artista</b></p>
  <p>Puedes solicitarlos clickando aquí: &nbsp;<span>
    <button type="button" (click)="solicitarArtista()" *ngIf="!solicitado">
        <p>Solicitar Artista</p>
    </button>
    <button type="button" class="disabled" *ngIf="solicitado" disabled>
      <p>Solicitado</p>
  </button>
  </span></p>
</div>

<div class="modal fade" id="modalDetails">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="contentModal">
          <div class="image">
            <img src="{{selectedProducto.image.url}}" class="card-img-top" alt="{{selectedProducto.image.name}}">
            <button type="button" class="edit"><p>Editar foto</p></button>
          </div>
          <div class="rightContent">
            <div>
              <div class="toEdit" *ngIf="!editingName">
                <p class="modal-text"><b>{{name}}</b></p>
                <p class="separator">|</p>
                <p class="editar" (click)="changeEditing('name')">Editar</p>
              </div>

              <div class="editing" *ngIf="editingName">
                <input type="text" class="form-control name" [(ngModel)]="name" *ngIf="editingName" (keyup.enter)="changeEditing('name')">
                <i class="bi bi-check" (click)="changeEditing('name')"></i>
              </div>

              <div class="toEdit" *ngIf="!editingBio">
                <div class="bio">
                  <p class="description">{{description}}</p>
                  <p class="separator">|<span class="editar" (click)="changeEditing('bio')">Editar</span></p>
                </div>
              </div>

              <div class="editing" *ngIf="editingBio">
                <div class="bio">
                  <textarea class="form-control description" [(ngModel)]="description" style="resize: none" *ngIf="editingBio" (keyup.enter)="changeEditing('bio')"></textarea>
                  <i class="bi bi-check" (click)="changeEditing('bio')"></i>
                </div>
              </div>

            </div>
            <div class="bottomContent">
              <div class="toEdit" *ngIf="!editingPrice">
                <p class="editar" (click)="changeEditing('price')">Editar</p>
                <p class="separator">|</p>
                <h2 class="price">{{price}}<span class="dec">€</span></h2>
              </div>
              <div class="editing" *ngIf="editingPrice">
                <i class="bi bi-check" (click)="changeEditing('price')"></i>
                <input type="number" name="price" class="form-control priceEdit" [(ngModel)]="price" (keyup.enter)="changeEditing('price')"><p class="dec"><b> €</b></p>
              </div>
            </div>        
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="buttons">
          <button type="button" class="cancelar" data-bs-toggle="modal" data-bs-target="#modalDetails"><p>Cancelar</p></button>
          <button type="button" class="disabled" (click)="editarProducto()" *ngIf="!changed" disabled><p>Aceptar cambios</p></button>
          <button type="button" class="edit" (click)="editarProducto()" *ngIf="changed"><p>Aceptar cambios</p></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCreate">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="contentModal">
          <div class="image">
            <div class="no-image">
              <i class="bi bi-plus-square-fill"></i>
            </div>
            <button type="button" class="edit"><p>Editar foto</p></button>
          </div>
          <div class="rightContent">
            <div>
              <div class="toEdit" *ngIf="!editingName">
                <p class="modal-text name"><b>{{name}}</b></p>
                <p class="separator">|</p>
                <p class="editar" (click)="changeEditing('name')">Editar</p>
              </div>

              <div class="editing" *ngIf="editingName">
                <input type="text" class="form-control name" [(ngModel)]="name" *ngIf="editingName" placeholder="Titulo" (keyup.enter)="changeEditing('name')">
                <i class="bi bi-check" (click)="changeEditing('name')"></i>
              </div>

              <div class="toEdit" *ngIf="!editingBio">
                <div class="bio">
                  <p class="description">{{description}}</p>
                  <p class="separator">|<span class="editar" (click)="changeEditing('bio')">Editar</span></p>
                </div>
              </div>

              <div class="editing" *ngIf="editingBio">
                <div class="bio">
                  <textarea class="form-control description" [(ngModel)]="description" style="resize: none" *ngIf="editingBio" placeholder="Descripcion del producto" (keyup.enter)="changeEditing('bio')"></textarea>
                  <i class="bi bi-check" (click)="changeEditing('bio')"></i>
                </div>
              </div>

            </div>
      
          </div>
          <div class="tipos">
            <div>
              <div class="tipoProducto">
                <p>Tipo de producto: </p>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="productoTipo">
                  <option selected></option>
                  <option [ngValue]="tipo" *ngFor="let tipo of productoTipos">
                    <p>{{tipo.name}}</p>
                  </option>
                </select>
              </div>
              <div class="tipoInterno" *ngIf="productoTipo?.id=='1'">
                <p>Tipo de accesorio: </p>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="accesorioTipo">
                  <option selected></option>
                  <option [ngValue]="tipo" *ngFor="let tipo of accesorioTipos">
                    <p>{{tipo.name}}</p>
                  </option>
                </select>
              </div>
              <div class="tipoInterno" *ngIf="productoTipo?.id=='2'">
                <p>Tipo de figura: </p>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="figuraTipo">
                  <option selected></option>
                  <option [ngValue]="tipo" *ngFor="let tipo of figuraTipos">
                    <p>{{tipo.name}}</p>
                  </option>
                </select>
              </div>
              <div class="tipoInterno" *ngIf="productoTipo?.id=='3'">
                <p>Tipo de pintura: </p>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="pinturaTipo">
                  <option selected></option>
                  <option [ngValue]="tipo" *ngFor="let tipo of pinturaTipos">
                    <p>{{tipo.name}}</p>
                  </option>
                </select>
              </div>
            </div>
            
            <div class="bottomContent">
              <div class="toEdit" *ngIf="!editingPrice">
                <p class="editar" (click)="changeEditing('price')">Editar</p>
                <p class="separator">|</p>
                <h2 class="price">{{price}}<span class="dec">€</span></h2>
              </div>
              <div class="editing" *ngIf="editingPrice">
                <i class="bi bi-check" (click)="changeEditing('price')"></i>
                <input type="number" name="price" class="form-control priceEdit" [(ngModel)]="price" (keyup.enter)="changeEditing('price')"><p class="dec"><b> €</b></p>
              </div>
            </div>  
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="buttons">
          <button type="button" class="cancelar" data-bs-toggle="modal" data-bs-target="#modalCreate"><p>Cancelar</p></button>
          <button type="button" class="disabled" *ngIf="!changed" disabled><p>Crear producto</p></button>
          <button type="button" class="edit" (click)="crearProducto()" *ngIf="changed"><p>Crear producto</p></button>
        </div>
      </div>
    </div>
  </div>
</div>