<header style="background-color: white">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">
                <img src="../../assets/images/Imagotipo V.-Vertical.svg" class="img-fluid"
                    alt="Imagotipo V. Vertical">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../pinturas">Pinturas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../figuras">Figuras</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../accesorios">Accesorios</a>
                    </li>
                    <li class="nav-item active">
                        <p class="separator">|</p>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../artistas">Artistas</a>
                    </li>
                </ul>
            </div>
            <i class="bi bi-box-arrow-in-right" style="font-size: 2rem; color: rgb(26, 26, 26);"></i>
        </nav>
</header>

<div class="contenedor">
    <p>//añadir carrousel ultimos productos</p>
</div>

<footer>
    <div>
        <p>® 2022 SellArt</p>
        <p>Creado y diseñado por Aarón Sanz Roca</p>
    </div>
</footer>